*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    border: 1px solid black;
}

div img{
    object-fit: contain;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align:start;
}

/* BACKGROUND COLOR */

.bg-red{
    background-color: red;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: blue;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: black;
}

/*COLOR*/

.c-gray{
    color: gray;
}

/* WIDTH */

.w-15per{
    width: 15%;
}

.w-20per{
    width: 20%;
}

.w-30per{
    width: 30%;
}

.w-40per{
    width: 40%;
}

.w-45per{
    width: 45%;
}

.w-50per{
    width: 50%;
}

.w-60per{
    width: 60%;
}

.w-70per{
    width: 70%;
}

.w-80per{
    width: 80%;
}

.w-90per{
    width: 90%;
}


/* HEIGHT */

.h-5per{
    height: 5%;
}

.h-40per{
    height: 40%;
}

.h-45per{
    height: 45%;
}

.h-50per{
    height: 50%;
}

.h-60per{
    height: 60%;
}

.h-70per{
    height: 70%;
}

.h-80per{
    height: 80%;
}

.h-90per{
    height: 90%;
}


.h-100per{
    height: 100%;
}

/* MARGIN */

.margin-0-30px{
    margin: 0 30px;
}

.margin-top-15px{
    margin-top: 15px;
}

.margin-top-25px{
    margin-top: 25px;
}

.margin-top-35px{
    margin-top: 35px;
}

.margin-bottom-35px{
    margin-bottom: 35px;
}

.margin-right-15px{
    margin-right: 15px;
}

.margin-right-20px{
    margin-right: 20px;
}

.margin-right-45px{
    margin-right: 45px;
}

.margin-left-20px{
    margin-left: 20px;
}





/* PADDING */



.padding-top-50px{
    padding-top: 50px;
}

.padding-top-100px{
    padding-top: 100px;
}

.padding-top-150px{
    padding-top: 150px;
}

.padding-bottom-40px{
    padding-bottom: 40px;
}



/* FLEX */

.flex{
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

/*                        HEADER                         */

.menu{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
}

.menu a{
    text-decoration: none;
    color: black;
}

.buttonHeaderAccedi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 30px;
    cursor: pointer;
}

.buttonHeaderAccedi:hover{
    border: 1px solid black;
    background-color: rgb(216, 210, 210);
}

.buttonHeaderInizia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #4D5AFE;
}

.buttonHeaderInizia:hover{
    border: 1px solid black;
    background-color: #6972f1;
}

/*                      MAIN                             */

main{
    padding-top: 80px;
}

.freeTrialBox{
    width: 100%;
    background-color: #B4D0EA;
}

h1{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 50px;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.containerFreeTrial{
    max-width: 1200px;
    height: 600px;
}

.containerOfferte{
    position:relative;
    height: 1000px;
}

.colOfferte{
    width: 300px;
}

.wrap{
    flex-wrap: wrap;
    gap: 30px;
}

.buttonMainProvaGratuita{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #4D5AFE;
}

.buttonMainProvaGratuita:hover{
    border: 1px solid black;
    background-color: #6972f1;
}

.arrow{
    font-size: 35px;
}

.circle:hover{
    color: #4D5AFE;
    font-size:larger;
}

li{
    list-style: none;
}

